$c-yel: #febb00;
$c-red: #de000e;
$c-cri: #ac1e3d;
$c-bur: #520101;
$c-gry: #583e4c;

$cl-yel: #fdc132;
$cl-gol: #fda745;
$cl-org: #dc6429;
$cl-red: #832938;
$cl-bur: #38151f;
$cl-dbur: #291d21;

$lato: 'lato', sans-serif;
// $robo: 'Montserrat', sans-serif;

$map-colors:
#7A2532
#f8d37b
#d59563
#A11C31
#fdc132
#842131
#962033
#AF4C5C
#6b1725
#f3d19c
#7c2f3a
#7a0e20
#8a4853
