header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $cl-bur;
}
.header__logo{
    color: $cl-yel;
    text-transform: capitalize;
    text-decoration: none;   
    padding-left: 4vw;
}

.header__nav{
    list-style-type: none;
    display: flex;
    padding-right: 4vw;
}

.nav__item{
    font-size: .8em;
    text-decoration: none;
    text-transform: uppercase;
    color: $cl-yel;
    padding-left: 1em;
}

.nav__item:hover{
    color: $cl-org;
    // color: $cl-red;
}